@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    outline: 0px;
}
body{
    background-color: #000000;
    color: #ffffff;
    font-family: Poppins ,sans-serif;
}
.middle-section{
    background-color: #ffffff;
    color: #000000;
}

/* ------- Nav bar section ---------- */

.navbar{
    display: flex;
    flex-direction: row;
    margin: 20px 100px;
    font-weight: 500;
    color: #d6d6d6;
}
.list{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 17px;
    align-items:flex-end;
}
.nav-right{
    display: flex;
    flex-direction: row;
    align-items:flex-end;
}
.nav-down-arrow{
    font-size: 8px;
    margin: 0px 10px;
}
.nav-center{
    display: flex;
    flex-grow: 1;
    justify-content: center;
}
.contact-us{
    display: flex;
    flex-direction: row;
}
.cont-pink-img{
    position: relative;
    left: 28px;
    z-index: -1;
}
.logo{
    width: 140px;
}

/* ----------Main body --top section----- */

.Container{
    display: flex;
    flex-direction: row;
    padding-bottom: 150px;
}
.top-right{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}
.frontcard{
    position:absolute;
    top: 170px;
    right: 0px;
}
.backcard{
    position: absolute;
    left: 550px;
}
.cropped2 {
    width: 750px;
    height: 700px;
    object-fit: cover;
    object-position: 0% 10%; /* try 20px 10px */ 
}
.top-left{
    margin-left: 80px;
    margin-top: 150px;
}
.intro1{
    font-size: 80px;
    font-weight: 300;
}
